
 html{
  background-color: black;
  color: white;
 }

 body{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
 }

 header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background-color: rgba(116, 116, 116, 0.41);
  font-size: 250%;
 }
 .container-box{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(135, 135, 135);

 }

 .container{
  background-color: black;
  margin: 1%;
  border-style: solid;
  border-color: white;
  border-width: 10%;
  border-radius: 100px;
  padding:8%;
 }

 .error-message{
  color: red;
 }

 form{
  display: flex ;
  flex-direction: column;
 }
 form label{
  align-items: center;
 }