
<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
   <header>
    The Junction
  </header>
  <div class="container-box">
  <div class="container">
    <h1>Register</h1>
    <% if (errorMessage) { %>
      <p class="error-message"><%= errorMessage %></p>
    <% } %>
    <form action="/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/">Login here</a>.</p>
  </div>
  </div>
</body>
</html>
